button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button {
	&--primary,
	&--secondary {
		@include fontSize(11);
		font-weight: 700;
		line-height: 1.1875rem;
		letter-spacing: 0.02em;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: fit-content;
		max-height: 41px;
		color: #FFFFFF;
		height: 100%;
		padding: 20px 1.78rem;
		transition: opacity 0.05s ease-out;
		text-decoration: none;
		border-radius: 3px;
		
		@include mq(xxl) {
			@include fontSize(14);
		}
		&:hover {
			transition: all 0.15s ease-out;
		}

		&:visited {
			color: #FFFFFF;
		}
	}
	&--primary {
		background-color: $color__primary;
		&:hover {
			background-color: $color__secondary;
			color: #ffff;
		}
	}
	&--secondary {
		background-color: $color__secondary;

		&:hover {
			color: $color__primary;
		}
	}

	&--close {
		all: unset;
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		transition: all .10s ease-out;
		transform: scale(0.8);
		@include mq(md) {
			right: 1.875rem;
			top: 1.875rem;
			transform: unset;
		}
		&:hover {
			opacity: 0.6;
			transition: all .25s ease-out;
		}
	}
}