input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

input[type="text"].popup__form-input,
input[type="email"].popup__form-input,
input[type="file"].popup__form-input, 
input[type="submit"].popup__form-input {
	all: unset;
}

input[type="text"].popup__form-input,
input[type="email"].popup__form-input {
	padding: .5rem 0;
	width: 100%;

	&::placeholder {
		@include fontSize(12);
		letter-spacing: 0.005em;
		line-height: 1.1875rem;
		color: #FFFF;

		@include mq(md) {
			@include fontSize(18);
		}
	}

	&:focus {
		outline: 1px solid $color__primary;
		border-radius: 5px;
		transition: all 0.18s ease-out;
		&::placeholder {
			opacity: 0.9;
			color: $color__primary;
		}
	}
}

input[type="file"].popup__form-input {
	width: 100%;
	z-index: 10;
	height: 100%;
	top: 0;
	left: 0;
	//opacity: 0;
	//position: absolute;
	cursor: pointer;

	
	position: relative;
	opacity: 1;
}

input[type="submit"].popup__form-input {
	margin-top: 1.6875rem;
	height: 3rem;
	width: 6rem;
	background-color: $color__primary;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid transparent;
	@include fontSize(12);
	@include mq(md) {
		@include fontSize(15);
		height: 3.5625rem;
		width: 8.3125rem;
	}
	&:hover,
	&:focus {
		transition: all 0.18s ease-out;
		border: 1px solid $color__primary;
		background: transparent;
		color: $color__primary;
	}
}