ul,
ol {
	margin: 0 0 1.5em 3em;

	&.list-reset {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

li.expectations__list-item {
	@include fontSize(12);

	display: flex;
	align-items: center;
	color: #ffff;
	font-weight: 400;
	margin-bottom: 1.25rem;

	&:last-child {
		margin-bottom: 0;
	}

	@include mq(lg) {
		@include fontSize(14);
	}

	& .tick {
		min-width: 1.125rem;
		margin-right: 1.56rem;
	}
}
