h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;

	& span {
		color: $color__primary;
	}
}

h1 {
	@include fontSize(24);

	@include mq(md) {
		@include fontSize(32);
	}
	
	@include mq(lg) {
		line-height: 3.875rem;
		@include fontSize(44);
	}
}

h2 {

	@include fontSize(25.6);
	letter-spacing: 0.025em;

	@include mq(md) {
		@include fontSize(40);
	}

	@include mq(lg) {
		line-height: 4.03125rem;
		@include fontSize(52);
	}
}

h3 {

	line-height: 1.3rem;
		@include fontSize(16);
	@include mq(lg) {
		line-height: 1.5625rem;
		@include fontSize(19);
	}
}

