.overflow-hidden {
    overflow: hidden;

    @include mq(lg) {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.d-none {
    display: none;
}

.has-error {
    color: $color__primary;
}