.benefits {
    padding : 1.3125rem 0 2.47rem;

    &__title {
        margin-bottom: 3.6875rem;
        text-align: center;
        @include mq(sm) {
            text-align: start;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}