.contact {
    background-color: $color__primary;
    color: #ffff;
    text-align: center;
    padding: 4.063rem 0;
    &__header {
        margin-bottom: 1.25rem;
       @include mq(lg) {
        margin-bottom: 2.5rem;

        & h2 {
            letter-spacing: 0.04em;
        }
       }
    }

    &__description {
        padding-bottom: 1.375rem;
        & p {
            
            @include mq(lg) {
                letter-spacing: 0.035em;
                margin-bottom: 1.875rem;
            }
        }
        & :last-child {
            @include mq(lg){
                margin-bottom: 2.19rem;
            }
        }
    }

    & .button--secondary {
        margin: auto;
    }
}